# random shit
BossGPT
BossGPT.app
todo
.env

# apple shit
_CodeSignature
Info.plist


# other
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
