@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: larger;
}

.message {
    display: inline-block;
    max-width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    line-height: 1.5;
    position: relative;
}

.message.system {
    background-color: #5BC236;
    align-self: flex-end;
}

.message.assistant {
    background-color: #78716c;
    align-self: flex-start;
}

.message.user {
    background-color: #007AFF;
    align-self: flex-end;
}

.message.debug {
    background-color: #9333ea;
    align-self: flex-end;
}

/* tail-like effects on bubbles, before pseudo-elements */
/* .message.assistant::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #78716c transparent transparent;
}

.message.system::before, .message.user::before, .message.debug::before {
    content: "";
    position: absolute;
    right: -14px;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
}

.message.system::before {
    border-color: transparent transparent transparent #5BC236;
}

.message.user::before {
    border-color: transparent transparent transparent #007AFF;
} */

#messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 64px;
}

.chat-container {
    padding: 10px;
}

.chatbox {
    font-family: inherit;
    font-size: inherit;
    border-radius: 9999px;
    border-width: 1.5px;
    padding: 5px 20px;
    width: 100%;
}

.chatbox:focus {
    outline-width: 0;
}

.input-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: white;
}